<div class="container">

    <br>
<form [formGroup]="postForm" (ngSubmit)="post()">
    <h2>New Contact</h2>
    <div class ="form-group" >
        <label for="firstName">Firstname</label>
        <div>
            
            <input placeholder= "Firstname" type="text" class = "form-control" id="firstName" [formControlName]="'firstName'" name="firstName" required
                autofocus>
            
        </div>
    </div>
    <div class ="form-group">
        <label for="lastName">Lastname</label>
        <div >
           
            <input matInput placeholder= "Lastname" class = "form-control" type="text" id="lastName" [formControlName]="'lastName'" name="lastName" required
                autofocus>
           
        </div>
    </div>
    <div class ="form-group" >
        <label for="companyId">Company</label>
        <div>
            <select class = "form-control" [formControlName]="'companyId'" name="companyId">
                <option value=1>Company #1</option>
                <option value=2>Company #2</option>
                <option value=3>Company #3</option>
                <option value=0 disabled selected hidden>Select your option</option>
                
              </select>
        
           
        </div>
    </div>
    <div class ="form-group">
        <label for="email">Email</label>
        <div>
            
            <input matInput placeholder= "Email" type="text"  class = "form-control" id="email" [formControlName]="'email'" name="email" required
                autofocus>
            
        </div>
    </div>
    <div class ="form-group" >
        <label for="phoneNumber">Phonenumber</label>
        <div>
          
            <input matInput placeholder= "+36" type="text" id="phoneNumber"  class = "form-control" [formControlName]="'phoneNumber'" name="phoneNumber" required
                autofocus>
            
        </div>
    </div>
    <div>
        <label for="comment">Comment</label>
        <div>
            
            <input matInput placeholder= "Comment" type="text" id="comment" [formControlName]="'comment'"  class = "form-control" name="comment" required
                autofocus>
            
        </div>
    </div>
    <div class="form-group"> 
        <br>
    
    <span>
        <button  class="btn btn-primary" type="submit">
            Post
        </button>
    </span>   
</div>         
</form>
</div>