<br>
<div class="container">

<form [formGroup]="updateForm" (ngSubmit)="update()">

    <h2>Update Contact</h2>
    <div class ="form-group" >
        <label for="id">id</label>
        <div>
            <input placeholder= "id" class = "form-control"  type="number" id="id" [formControlName]="'id'" name="id" required
                autofocus>
        </div>
    </div>

    <div class ="form-group">
        <label for="firstName">Firstname</label>
        <div>
            <input placeholder= "Firstame" class = "form-control"  type="text" id="firstName" [formControlName]="'firstName'" name="firstName" required
                autofocus>
        </div>
    </div>
    <div class ="form-group">
        <label for="lastName">Lastname</label>
        <div>
            <input placeholder= "Lastname"  class = "form-control"  type="text" id="lastName" [formControlName]="'lastName'" name="lastName" required
                autofocus>
        </div>
    </div>
    <div class ="form-group">
        <label for="companyId">Company</label>
        <div>
            <select class = "form-control" [formControlName]="'companyId'">
                
                <option value=1>Company #1</option>
                <option value=2>Company #2</option>
                <option value=3>Company #3</option>
                <option value=0 disabled selected hidden>Select your option</option>
              </select>
        </div>
    </div>
    <div class ="form-group">
        <label for="email">Email</label>
        <div>
            <input placeholder= "Email" type="text" class = "form-control" id="email" [formControlName]="'email'" name="email" required
                autofocus>
        </div>
    </div>
    <div class ="form-group">
        <label for="phoneNumber">Phonenumber</label>
        <div>
            <input placeholder="+36" type="text" class = "form-control"  id="phoneNumber" [formControlName]="'phoneNumber'" name="phoneNumber" required
                autofocus>
        </div>
    </div>
    <div class ="form-group">
        <label for="comment">Comment</label>
        <div>
            <input placeholder= "Comment" type="text" class = "form-control"  id="comment" [formControlName]="'comment'" name="comment" required
                autofocus>
        </div>
    </div>
    <br>
    <span>
        <button class="btn btn-primary" type="submit">
            Update
        </button>
    </span>            
</form>
</div>