
 <br>
<div class="container">
<div class="form-group">

    <h1>Delete Contact</h1>
<form [formGroup]="deleteForm" (ngSubmit)="deleteContact()">

    <div>
        <label for="id">id</label>
        <div>
            <input class="form-control" type="number" id="id" [formControlName]="'id'" name="id" required
                autofocus>
        </div>
    </div>
    <br>
    <span>
        <button class="btn btn-primary" type="submit">
            Delete
        </button>
    </span>            
</form>
</div>
<div *ngIf="deleted">
    <br>
    Deleted</div>
</div>
