<div class="container"> 
    <br>
    <h1> Enter the GraphQL Query</h1>
<form [formGroup]="graphForm" (ngSubmit)="getGraphQL()" id="form">

    <input type="text" class="form-control" [formControlName]="'query'" name="query" required
    autofocus>
    
    <br>
    <span>
        <button class="btn btn-primary" type="submit">
            GetGraphQL
        </button>
    </span>            
</form>

<ng-container *ngIf="buttonPressed">


    <table width="100%" class="table table-success table-striped table-hover">

        <tr>
            <th *ngIf="graphresponse?.data?.contact.lastName!=null">Lastname}</th>
            <th *ngIf="graphresponse?.data?.contact.firstName!=null">Firstname</th>
            <th *ngIf="graphresponse?.data?.contact.email!=null">Email</th>
            <th *ngIf="graphresponse?.data?.contact.phoneNumber!=null">Phonenumber</th>
           
        </tr>

        <tr>
            <td>{{graphresponse?.data?.contact.lastName}}</td>
            <td>{{graphresponse?.data?.contact.firstName}}</td>
            <td>{{graphresponse?.data?.contact.email}} </td>
            <td>{{graphresponse?.data?.contact.phoneNumber}} </td>
           
        </tr>
       
    
    
    </table>
    </ng-container>

</div>







